
        img{
           
            width:20%;
            margin-left:auto;
            margin-right: auto;
            display:block;
        }

        p{
            margin-left:auto;
            margin-right:auto;
            width: 750px;
        }

        form{
            text-align:right;
            margin-left: auto;
            margin-right:auto;
            width:500px;
        }

        .input1{
            padding-right:250px;
            padding-bottom: 10px;
            
        }

        .input2{
            padding-right:250px;
            padding-bottom: 100px;
        }

        .textphone{
            padding-bottom: 10px;
            padding-right: 88px;
        }

        .text3{
            padding-right: 50px;
            padding-bottom: 10px;
        }

        .attachment{
            margin-right:px;
        }
         
    
  