<style>
*{
    margin:0;
    padding:0;
}
.logo img{
    width:25%;
}
.logo{
    float:left;
    margin-left:35px;
    margin-top:0px;
}

.link ul li {
    display:inline;
    margin-left:15px;
    
    font-color:black;   
}
.link ul li a{
    text-decoration:none;
   
}
a:hover{
    text-decoration: underline;
    color:red;
}

.link ul {
    margin-left:700px;
}

.section1{
    background-color:#FFE4C4;
    padding:20px;
}

a:hover{
    text-decoration:underline;
}

body{
    background-color: darkgrey;
   
}

.section2{
    
   background-color: white;
    margin-left:auto;
    margin-right: auto;
    width:70%;
    padding-left: 50px;
    padding-right:20px;
    
}

.section2 h2{
    padding-top: 15px;
    margin-bottom: 15px;
    padding-left:15px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 200%;

}



.text1{
    background-color: white;
    background-color-width:200px;
    position:relative;
    top:-170px;
    left:50px;
    margin:auto;
    width: 320px;  
    text-align: center;     
    padding:15px;
    opacity: 0.7;

}

.text2{
    background-color: white;
    text-align: center;
    margin:auto;
    position:relative;
    top:-130px;
    left:380px;
    width:160px;
    opacity: 0.8;

}

.text3{
    margin:auto;
    width:990px;
    margin-top:-40px;
}

.row{
  display:flex;
  margin-bottom:50px;
}

.imgtext{
    margin-left:25px;
    
}

.mainimg{
    border:1px solid black;
    
 
}

.image{
   margin-left:25px;
}

.tsty{
   font-family: Brush Script MT, Brush Script Std, cursive;
   font-size: 160%;
}

.shap{

 margin-top:15px;  
float:right;   
display: inline-block;

width: auto;
height: 38px;

background-color: #521919;
-webkit-border-radius: 3px 4px 4px 3px;
-moz-border-radius: 3px 4px 4px 3px;
border-radius: 3px 4px 4px 3px;

border-left: 1px solid #979797;

/* This makes room for the triangle */
margin-left: 19px;

position: relative;

color: white;
font-weight: 300;
font-family: 'Source Sans Pro', sans-serif;
font-size: 22px;
line-height: 38px;

padding: 0 10px 0 10px;
}

/* Makes the triangle */
.shap:before {
content: "";
position: absolute;
display: block;
left: -19px;
width: 0;
height: 0;
border-top: 19px solid transparent;
border-bottom: 19px solid transparent;
border-right: 19px solid #521919;
}

/* Makes the circle */
.shap:after {
content: "";
background-color: white;
border-radius: 50%;
width: 4px;
height: 4px;
display: block;
position: absolute;
left: -9px;
top: 17px;


}


</style>